<template>
  <div>
    <div>{{message}}</div>
    <div v-html="message"></div>
    ---------------------
    <div>{{message.split('').join(' ')}}</div>
    ---------------------
    <div>{{message | uppercase}}</div>
    <div>{{message.toUpperCase()}}</div>
  </div>
</template>

<script>
  import Vue from 'vue'

  Vue.filter('uppercase', (value) => {
    return value.toUpperCase()
  })

  export default {
    name: 'simple',
    data () {
      return {
        message: 'This is simplest example'
      }
    }
  }
</script>
