<template>
  <div>
    <div>
      {{message}}
    </div>
    <div>
      <button @click="doSmthElse()">
        Say Hurray (press with caution)
      </button>
    </div>
    -------------
    <div>
      <button @click="doSomething(' with parenthesis', $event)">
        Say Hurray with parenthesis
      </button>
    </div>
  </div>
</template>

<script>
  export default {
    name: 'methods',
    data () {
      return {
        message: 'Methods example said: '
      }
    },
    methods: {
      doSomething (tail = '', $event) {
        $event.preventDefault()
        this.message += (' Hurray' + tail)
      }
    }
  }
</script>
