<template>
  <div>
    <label>Dollar: <span>{{dollar}}</span></label>
    <br>
    <label>Hrivnia: <input type="number" v-model="hrivnia"></label><br/>
  </div>

</template>

<script>
  export default {
    name: 'watch',
    data () {
      return {
        hrivnia: 0,
        dollar: 0
      }
    },
    watch: {
      hrivnia: function (value) {
        this.dollar = value / 27
        console.log('US')
      },
      dollar: function (value) {
        this.hrivnia = value * 27
        console.log('UAH')
      }
    }
  }
</script>
