<template>
  <div>
    <label>Dollar: <span>{{dollar}}</span></label>
    <br>
    <label>Days alive: <span>{{daysAlive}}</span></label>
    <br>
    <label>Hrivnia: <input type="number" v-model="hrivnia"></label><br/>
    <br>
    <label>Exchange Rates: <input type="number" v-model="rate"></label><br/>
  </div>

</template>

<script>
  export default {
    name: 'computed',
    data () {
      return {
        hrivnia: 0,
        rate: 27
      }
    },
    computed: {
      dollar () {
        return this.hrivnia / this.rate
      },
      daysAlive () {
        return this.dollar / 25
      }
    }
  }
</script>
