<template>
  <div>
    <label>Hrivnia: <input type="number" v-model="hrivnia"></label><br/>
    <dollar-display :hrivnia="hrivnia" @onDo="method()"></dollar-display>
  </div>
</template>

<script>
  import DollarDisplay from './5.1-child.vue'

  export default {
    components: {DollarDisplay},
    name: 'properties',
    data () {
      return {
        hrivnia: 0
      }
    },
    methods: {
      method () {
        alert('asdf')
      }
    }
  }
</script>
