<template>
  <div>
    <label>Dollar: <span>{{dollar}}</span></label>
    <br>
    <label>Days alive: <span>{{daysAlive}}</span></label>
    <button @click="change()"></button>
  </div>
</template>

<script>
  export default {
    name: 'dollarDisplay',
    props: ['hrivnia'],
    data () {
      return {
        // hrivnia: 138,
        rate: 27
      }
    },
    methods: {
      change () {
        this.$emit('onDo')
      }
    },
    computed: {
      dollar () {
        return this.hrivnia / this.rate
      },
      daysAlive () {
        return this.dollar / 25
      }
    }
  }
</script>
