<template>
  <div @click="method()">
    <div v-for="item in items" :key="item">
      <div>{{item}}</div>
    </div>
  </div>
</template>

<script>
  import Vue from 'vue'

  Vue.filter('uppercase', (value) => {
    return value.toUpperCase()
  })

  export default {
    name: 'array',
    data () {
      return {
        items: ['a', 'b', 'c', 'd']
      }
    },
    methods: {
      method () {
        Vue.set(this.items, this.items.length, 'f')
      }
    }
  }
</script>
