<template>
  <div id="app">
    <div>
      <button @click="shown = 'simple'" :class="{'active': shown === 'simple'}">simple</button>
      <button @click="shown = 'methods'" :class="{'active': shown === 'methods'}">methods</button>
      <button @click="shown = 'watch'" :class="{'active': shown === 'watch'}">watch</button>
      <button @click="shown = 'computed'" :class="{'active': shown === 'computed'}">computed</button>
      <button @click="shown = 'properties'" :class="{'active': shown === 'properties'}">properties</button>
      <button @click="shown = 'array'" :class="{'active': shown === 'array'}">array</button>
    </div>
    {{shown}}
    <br>
    -------------------
    <simple v-if="shown === 'simple'"></simple>
    <methods v-if="shown === 'methods'"></methods>
    <watch v-if="shown === 'watch'"></watch>
    <computed v-if="shown === 'computed'"></computed>
    <properties v-if="shown === 'properties'"></properties>
    <array v-if="shown === 'array'"></array>
    -------------------
  </div>
</template>

<script>
  import Hello from './components/Hello'
  import Simple from './components/1-simple.vue'
  import Methods from './components/2-methods.vue'
  import Watch from './components/3-watch.vue'
  import Computed from './components/4-computed.vue'
  import Properties from './components/5.0-properties.vue'
  import Array from './components/6-arrays.vue'

  export default {
    name: 'app',
    data () {
      return {
        shown: 'simple'
      }
    },
    components: {
      Array,
      Properties,
      Computed,
      Watch,
      Methods,
      Simple,
      Hello
    }
  }
</script>

<style>
  #app {
    font-family: 'Avenir', Helvetica, Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    margin-top: 60px;
  }

  buttons {
    display: flex;
    flex-direction: row;
  }

  .active {
    box-shadow: 1px 2px 2px;
  }
</style>
